.discount {
  width: 100%;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 32px;
  overflow: auto;
  margin-top: 25px;
  .name {
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
  }
  .descript {
    font-size: 18px;
    color: #464749;
    margin-bottom: 35px;
  }
  .iconbox {
    position: relative;
    .imgbox {
      // max-width: 120px;
      width: 45%;
      overflow: hidden;
      border-radius: 10px;
      margin: 0 auto;
      margin-bottom: 10px;
      img {
        width: 100%;
      }
    }
    .icon {
      @include flex-center;
      width: 60px;
      height: 60px;
      background-color: $red-color;
      border-radius: 50%;
      text-align: center;
      color: #fff;
      font-size: 20px;
      position: absolute;
      top: -26px;
      right: 41px;
      word-wrap: revert;
      font-weight: 500;
    }
  }
}