.redButton {
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin-left: 14px;
  cursor: pointer;
  background-color: $red-color;
}
.redButton:active {
  background-color: #e10c0f;
}