.goods {
  padding-top: 52px;
  background-color: #f7f7f7;
  .columnNavBox {
    width: 300px;
    background-color: #fff;
    .cateHeader {
      @include flex-start;
      padding: 32px 20px 8px 0px;
      font-size: 24px;
      border-bottom: 1px solid #f5f5f5;
      margin-left: 40px;
      .iconbox {
        width: 40px;
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}