.cusTitle {
  @include flex-between;
  width: 100%;
  height: 50px;
  background-color: #f8f8f8;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  .flex {
    @include flex-start;
    font-size: 22px;
    font-weight: 500;
    img {
      width: 24px;
      height: 24px;
      margin-right: 15px;
    }
  }
}