.home {
  width: 100%;
  .mainContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 40px 100px;
    .contentRightBox {
      // width: 890px;
      width: 78%;
      // margin-left: 20px;
    }
  }
}