.home {
  .content {
    padding-left: 98px;
    padding-right: 98px;
    padding-top: 50px;
    .mainContent {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding-bottom: 100px;
      .contentRightBox {
        width: 890px;
      }
    }
  }
}