.iptbox {
  position: relative;
  width: 70%;
  .ipt {
    width: 95%;
    height: 50px;
    border: 2px solid #e7e7e9;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 5%;
    background-color: #fafafa;
  }
  .ipt::placeholder {
    font-size: 20px;
    color: #030303;
  }
  .ipt:focus {
    cursor: text; // 光标大小
    outline: none; // 边框不变色
    border-color: #d2d2d2; // 指定颜色
    caret-color: #030303; // 光标颜色
  }
  .icon {
    width: 28px;
    height: 28px;
    position: absolute;
    right: 20px;
    top: 14px;
  }
}