.banner {
  padding: 230px 40px 220px; // 230加了header的高度
  @include flex-start;
  .content {
    margin-right: 180px;
    .title {
      width: 804px;
      font-size: 46px;
      font-family: Impact;
      margin-bottom: 28px;
    }
    .descript {
      font-size: 22px;
      color: #4e4e4e;
    }
  }
  .mainImg {
    max-width: 230px;
    img {
      width: 100%;
      transform: scaleX(-1);
    }
  }
}