.banner {
  width: 100%;
  padding: 100px 40px 100px; // 230加了header的高度
  box-sizing: border-box;
  @include flex-between;
  .content {
    flex: 2 1 0; // flex-grow: 2, flex-shrink: 1, flex-basis: 0
    .title {
      // width: 804px;
      font-size: 46px;
      font-family: Impact;
      margin-bottom: 28px;
    }
    .descript {
      font-size: 22px;
      color: #4e4e4e;
    }
  }
  .mainImg {
    max-width: 260px;
    flex: 1 1 0;  // flex-grow: 1, flex-shrink: 1, flex-basis: 0
    img {
      width: 100%;
      transform: scaleX(-1);
    }
  }
}